<!-- include header -->
<% include ./partials/header %>
    <div class="container">
        <h2 class="text-center">TO-DO LIST <i class="fa fa-plus float-right"></i></h2>

        <div class="main">
            <input type="text" name="newTodo" id="newTodo" placeholder="Add New Todo" />
            <ul>
                <div class="full">
                    <i class="fa fa-trash-alt"></i>
                    <li>Wake 5am</li>
                </div>

                <div class="full">
                    <i class="fa fa-trash-alt"></i>
                    <li>Brush teeth</li>
                </div>

                <div class="full">
                    <i class="fa fa-trash-alt"></i>
                    <li>Perform devotion</li>
                </div>

                <div class="full">
                    <i class="fa fa-trash-alt"></i>
                    <li>Do house chores</li>
                </div>

                <div class="full">
                    <i class="fa fa-trash-alt"></i>
                    <li>Bath</li>
                </div>

                <div class="full">
                    <i class="fa fa-trash-alt"></i>
                    <li>Cook food</li>
                </div>

                <div class="full">
                    <i class="fa fa-trash-alt"></i>
                    <li>Eat</li>
                </div>

                <div class="full">
                    <i class="fa fa-trash-alt"></i>
                    <li>Go to office</li>
                </div>

                <div class="full">
                    <i class="fa fa-trash-alt"></i>
                    <li>Smile always</li>
                </div>
            </ul>
        </div>
    </div>
    
<!-- include footer -->
<% include ./partials/footer %>
